{
    "environments": [
        {
            "teamserverUrl": "http://environment1.my.tld/Contrast/api/ng/",
            "apiKey": "org-api-key",
            "authorizationHeader": "view-user-secret",
            "name": "Environment1",
            "orgId": "org-id-here"
        },
        {
            "teamserverUrl": "http://environment2.eu.my.tld/Contrast/api/ng/",
            "apiKey": "org-api-key",
            "authorizationHeader": "view-user-secret",
            "name": "Environment2-EU",
            "orgId": "org-id-here"
        }
    ]
}
